* {
	margin: 0;
	padding: 0;
}

html, body {
	height:100%;
	overflow: hidden;
}

img {
	border:	0;
}

#container {
	overflow:auto;
	height:	100%;
	background-color: #BAD;
}

#wrapper
{
  
	font-family: Verdana, Arial, "MS Trebuchet", sans-serif;
	font-size: 80%;
}

#header 
{
  background-color: #ABE;
	height: 100px;
	text-align: center;

}

#header span {
	font-size: 200%;
	font-weight: bold;
}

#loginDiv {
	float: right;
	text-align: left;
	width: 240px;
	position: relative;
	top: 8px;
}

#loginDiv span {
	font-size: 100%;
	font-weight: bold;
}

#main 
{
  
}

#navigation 
{
    background-color: #FEDCBA;
    height: 30px;
}

#navigation ul {

}

#navigation li {
	/*background-image:url("img/trans_menu_nohover.png");*/
	color:#000;
	float:left;
	font-size:15px;
	font-weight:bold;
	line-height:30px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:0 15px;
}

#navigation li:hover {
	/*background-image:url("img/trans_menu_hover.png");*/
	color:#fff;
	float:left;
	font-size:15px;
	font-weight:bold;
	line-height:30px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:0 15px;
	cursor: pointer;
}


#content 
{
    min-height: 200px;
    padding: 10px;
}

#footer 
{
    background-color: #159;
    min-height: 15px;
    position:	absolute;
    bottom:	0px;
    width:100%;
    color: #FED;
}

.presentationFloatLeft {
	float:	left;
	padding-right:	20px;
}

.presentationFloatRight{
	float:	right;
}

.hidden {
	display:	none;
}

.success {
	color: green;
	font-weight: bold;
}

.error {
	color: red;
	font-weight: bold;
}
